.logo {
    color: rgba(29, 60, 116, 255);
}

.rest {
    color: rgba(145, 160, 176, 255);
}

.setbgbutton {
    background-color: rgba(59, 166, 249, 255);
    margin-top: -10px;

}

.set-t {
    margin-top: -8px;
    font-weight: 800;
    font-size: 2.1rem;
}